header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ilustra {
    align-self: center;
}

p {    
    margin: auto;
    width: 80%;
    padding-bottom: 5px;
}

.botao {
   width: 30px;
   margin: auto;
   
}
