@charset "UTF-8";

html, body {
    width: 100vw;
    height: 100vh;
    background-color: lightyellow;
    background-size: auto;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;    
}

p {
    font-weight: 400;
    font-size: 1.6em;
    text-align: justify;
    
    text-indent: 50px;
    
}





 

